@model Categoria

<form asp-controller="Home" asp-action="CrearCategoria" method="post">
    <label>Ingrese el nombre</label>
    <input type="text" asp-for="Nombre" />

    <label>Ingrese el id</label>
    <input type="number" asp-for="Id" />

    <label>Ingrese la descripción</label>
    <input type="text" asp-for="Descripcion" />

    <input type="submit" value="Crear" />
</form>